@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2rem;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(109, 108, 108, 0.649);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.304);
    width: 400px;
}

footer{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}