@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: "Passion One", cursive;
    --fonte02: "Sriracha", cursive;
    --fonte03: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center  ;
}

header > h1{
    font-family: var(--fonte01);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p, a{
    text-decoration: none;
    color: white;
}

header > p{
    font-family: var(--fonte03);
    padding-bottom: 50px;
}

p > a {
    font-style: normal;
    font-weight:  bolder;
}

a:hover{
    text-decoration: underline;
}

body p{
    padding-left: 30px;
}

section{
    font-family: var(--fonte02);
    text-align: left;
    font-size: 3.5vw;
    white-space: pre-line;
    line-height: 2em;
}

.estrofe{
    background-color: white;
    color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.imagem{
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

.imagem p{
    background-color: rgb(51, 51, 51);
    display: inline-block;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px 0px black;
    padding: 0px;
    
}

#estrofeimg1{
    background-image: url(imagens/background001.jpg);
}

#estrofeimg2{
    background-image: url(imagens/background002.jpg);
    padding-bottom: 80px;
}

#estrofeimg2 > p{
    text-shadow: 1px 1px 0px black;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte03);
}
